body {margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0px; width: 100%;   z-index: -3;}
.slider-top {
    padding: 8px;
    background-color: white;
    position: absolute;
    Top: 35px;
    Left: 150px;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.info-info {
    padding: 8px;
    background-color: white; 
    display: block;
    position: absolute; 
    top: 140px; 
    right: 10px; 
    padding: 10px; 
    border-radius: 3px;
    z-index: 1;
}

#slider-container { 
    width: 200%;
    left: 50px;
    padding: 5px; 
    background-color: #fff; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.title-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif; /* Use any desired font family */
    font-size: 35px; /* Adjust the font size */
    font-weight: bold;
    color: #333; /* Adjust the text color */
    /* Add more styles as needed */
}

.normal-text {
    font-family: Arial, sans-serif; /* Use any desired font family */
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
    /* Add more styles as needed */
}

.price-input {
  position: relative;
  display: inline-block;
}

.price-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.circle {
    position: fixed;
    top: 7px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
    width: 40px; /* Adjust the width of the circle */
    height: 40px; /* Adjust the height of the circle */
    background-color: #3c829e; /* Circle background color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    font-size: 20px; /* Adjust text size */
    font-weight: bold;
  }

.right-side-text {
    position: absolute;
    top: 18px;
    right: 90px;
    font-family: Arial, sans-serif; /* Use any desired font family */
    font-size: 18px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
    /* Add more styles as needed */ 
}

.small-text {
    position: absolute;
    top: 12px;
    left: 80px;
    font-family: Arial, sans-serif; /* Use any desired font family */
    font-size: 12px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
    /* Add more styles as needed */
}

.white-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 115px;
    width: 100%;
    background-color: white;
    z-index: -1; /* Set a higher z-index to ensure it's above other elements */
}

.white-box-side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 360px;
    background-color: white;
    z-index: -1; /* Set a higher z-index to ensure it's above other elements */
}

.button-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 60px; /* Apply top position */
    padding: 10px;
    background-color: #f0f0f0;
    z-index: 1;
}

/* Style for the buttons */
.button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for the dropdown button */
.dropdown {
    position: relative;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Desktop Mode */
@media only screen and (min-width: 910px) {
    .white-box-big {
        display: block; /* Show the white box on desktop */
    }
    .white-box-side {
    display: block; /* Show the white box on desktop */
    }
}

/* Mobile mode (less than 770px) */
@media only screen and (max-width: 910px) {
    .white-box {
    display: none; /* Hide the white box on mobile devices */
    }
    .button-row {
    display: none; /* Hide the white box on mobile devices */
    }
    .white-box-side {
        display: none; /* Show the white box on desktop */
    }
    .title-text {
        display: none; /* Show the white box on desktop */
    }
    .circle {
        display: none; /* Show the white box on desktop */
    }
    #slider-container {
        display: none; /* Show the white box on desktop */
    }
    .right-side-text{
        display: none; /* Show the white box on desktop */
    }
    .info-info {
        position: absolute; 
        top: 25px; 
        Left: 0.1px; 
        padding: 10px; 
        border-radius: 3px;
        z-index: 1;
    }
    .slider-top {
        position: absolute;
        Top: 0px;
        Left: 0px;
    }
    }

#real-slider { 
    width: calc(100%); /* Adjusted width to fit labels */
}

#slider-value {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.search-input {
display: block;
width: 155px;
align-items: center;
}

.hidden {
    display: none;
}

.scrollable {
    max-height: 1000px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.township-list {
overflow-y: auto;
max-height: 120px; /* Adjust the maximum height as needed */
}

/* Hide extra townships when more than 4 */
.township.hidden {
    display: none;
}

.back-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 15px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

.back-button:hover {
    background-color: #45a049;
}